---
// siempre q se use TS, meter los ---
import MainLayout from "../../layouts/Main.Layout.astro";
---

<MainLayout>
    <div>
        <h2>About</h2>
        <p>This ish an about section</p>
    </div>
</MainLayout>