---
import MainLayout from "../../layouts/Main.Layout.astro";
import Footer from "../../components/Footer.astro";
---

<MainLayout>
    <h2>titutlo</h2>
    <p>Hola mundo mundial</p>
    <Footer title={"texto q se envia hacia el footer"} />
</MainLayout>

